body{
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: red;
}
.main{
  margin-left: 12%;
}
.left-pane{
 height: 100%;
 width: 12%;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color:  #809fff;
 overflow-x: hidden;
 padding-top: 20px;
}
.img-pp{
  background-color: #531aff;
  height: auto;
  width: 100%;
  border-radius: 150%;
}
.top-pane{
  background-color:#809fff;
  position:relative;
  font-size: 8vm;
  z-index:1;
  margin: 0;
  height: auto;
  width: auto;
  padding: 10px 10px;
  display: inline-flex;
  text-align: center;
}
.main-section{
position: relative;
text-align: center;
top: auto;
padding: 30px 0;
.edu{
position: relative;
text-align: center;
top: auto;
padding: 100px 0;
}
.qual{
  padding-left: 200px;
}
.center-align{
  text-align: center;
}
.star{
  padding-left: 5%;
}
.bb{
   line-height: 80px;
 }
